.rst-content ul, .rst-content table {
  margin: 24px 0;
}
.rst-content ul {
  margin-left: 24px
}
.rst-content li {
  list-style: disc;
  margin-bottom: 5px;
}
.rst-content li, .rst-content td, .rst-content th {
  font-size: 16px;
  line-height: 24px;
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

h2 { margin-top: 14px; }

code { font-size: 1.2em !important; }
